<html>
  <body style="background-color:#232B2B">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <div class="container" align="center" style="margin-top:30px">
      <h1 style="color: white; font-size:300%;">Cricket Schedule Scrapper</h1>
      <h3 style="color: white; font-size:200%;"> Select the Team and Add the Schedule to Google Calendar
            <br>Be sure to never miss a game again </h3>
      <form action="/schedule" method="post">
        <div class="form-group" style="margin-top:100px">
          <select class="form-control" name="team_select">
            {% for key in teams %}
              <option value="{{key}}">{{teams[key]}}</option>
            {% endfor %}
          </select>
        </div>
        <input type="submit" class="btn btn-warning" value="Submit"/>
      </form>
    </div>
  </body>
</html>
